* {
  box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
}

.header {
    background-color: #666666;
}

.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  background-color: #dddddd;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: black;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: black;
}

input[type=submit] {
  background-color: #ff6600;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #cc0000;
}

.col-8 {
  float: left;
  width: 8%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 200px) {
  .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
}

 /* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
/*background-color: #f1f1f1;*/
background-color: #666666;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: #8c8c8c;
float: left;
font-weight: bold;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
/*background-color: #ddd; */
background-color: #ff6600;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ff6600;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
color: black;
}

tr:nth-child(even) {
background-color: #dddddd;
color: black;
}

tr:nth-child(odd) {
background-color: white;
color: black;
}

.site-header {
 font-size:.942666666666667rem;
 background-color:#141422;
 width:100%
}
.site-header__container {
 display:-webkit-box;
 display:-moz-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:box;
 display:flex;
 -webkit-box-align:center;
 -moz-box-align:center;
 -o-box-align:center;
 -ms-flex-align:center;
 -webkit-align-items:center;
 align-items:center;
 -webkit-box-pack:justify;
 -moz-box-pack:justify;
 -o-box-pack:justify;
 -ms-flex-pack:justify;
 -webkit-justify-content:space-between;
 justify-content:space-between;
 padding:10px;
 height:70px
}

.hero--bg {
 position:relative;
 background-position:center center;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 background-size:cover;
 background-repeat:no-repeat
}
.hero--bg+.site-footer {
 border-top:0
}
.hero--bg--dark:before {
 content:'';
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 right:0;
 background-color:#000;
 opacity:.45;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
 filter:alpha(opacity=45)
}
.hero--viewport {
 display:-webkit-box;
 display:-moz-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:box;
 display:flex;
 -webkit-box-lines:multiple;
 -moz-box-lines:multiple;
 -o-box-lines:multiple;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-box-align:center;
 -moz-box-align:center;
 -o-box-align:center;
 -ms-flex-align:center;
 -webkit-align-items:center;
 align-items:center
}

.dropdown,.transparent-footer--alt.index .site-footer .artist a,.transparent-header a.header-link {
 color:#f9efc1
}

.transparent-header a.header-link.active {
 color:#d8c13a;
 border-bottom-color:rgba(208,208,210,.5)
}
.transparent-header .header-sticky {
  background-color:rgba(20,20,34,.9);
  border-bottom:0
 }
 .transparent-header .header-sticky:not(.is_stuck) {
  background-color:transparent;
  -webkit-box-shadow:none;
  box-shadow:none
 }

.transparent-footer--alt .site-footer {
 z-index:1000
}